<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>지점등록</h1>
    
    <form action="#">
        <h3>지점명</h3>
        <input type = 'text' id = "storeNum" placeholder="지점명을 입력하세요">
    
    <form action="#">
        <h3>주소</h3>
        <input type = 'text' id = "storeNum" placeholder="주소를 입력하세요">

    <form action="#">
        <h3>상세주소</h3>
        <input type = 'text' id = "storeNum" placeholder="상세주소를 입력하세요">
    <form action="#">
        <h3>오픈시간</h3>
        <input type = 'text' id = "storeNum" placeholder="openHour">
    <form action="#">
        <input type = 'text' id = "storeNum" placeholder="closeHour">
    <form action="#">
        <input type = 'text' id = "storeNum" placeholder="휴무일">
    <form action="#">
        <input type = 'text' id = "storeNum" placeholder="최소주문금액">
    <form action="#">
        <input type = 'text' id = "storeNum" placeholder="점주명">
    <form action="#">
        <input type = 'text' id = "storeNum" placeholder="사업자번호">
    <form action="#">
        <input type = 'text' id = "storeNum" placeholder="휴대폰 번호">
    <form action="#">
        <input type = 'text' id = "storeNum" placeholder="최소배달시간">
    <form action="#">
        <input type = 'text' id = "storeNum" placeholder="최대배달시간">
</body>
</html>